:root{
    --primaria: #fbfbfb;
    --secundaria: #EF5E0B;
    --secundaria-light: hsl(22, 91%, 69%);
    --secundaria-dark: hsl(22, 71%, 49%);
    --destaque:#6F7302;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.textfont{
    font-family: 'Shantell Sans', cursive;
}

#btnMenu{
    font-size: 30px;
    color: var(--primaria);
}

#btnClose{
    position: absolute;
    right: 10px;
    font-size: 1.4;
    background-color: var(--secundaria);
    border: none;
}

#barraTopo{
    display: flex;
    justify-content:space-between;
    background-color:var(--secundaria);
    padding: 8px;
    height: 56px;
    box-shadow: 0 2px 5px rgba(204, 204, 204, .2);
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;

}

#menuPrincipal{
    position: fixed;
    background-color: var(--secundaria);
    top: 0;
    left: -305px;
    z-index: 9999;
    width: 300px;
    height: 100vh;
    box-shadow: 0 2px 5px rgba(204, 204, 204, 0.2);
    transition: 0.3s ease-in-out;

}

.menuShow{
    left: 0px !important;
}

#menuPrincipal ul{
    margin-top: 50px;
}

#menuPrincipal ul li{
    text-align: left;
   
}

#menuPrincipal ul li a{
    text-decoration: none;
    color: var(--primaria);
    font-size: 1.2;
    padding: 10px 0;
}


#overlay{
    position:fixed;
    background-color:rgba(133, 128, 128, .8);
    width: 100%;
    height: 100vh;
    z-index: 99;
    cursor: pointer;
    display: none;
}

.formatoRedondo{
    border-radius: 50%;
}

#pesquisar{
    position: relative;
    padding: 16px 8px;
    padding-top: 80px;
    
}

#pesquisar input{
    background-color: #f2f2f2;
    width: 100%;
    padding: 8px 40px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    height: 40px;
    font-size: 1rem;
}

#pesquisar button{
    background: none;
    border:none;
    position: absolute;
    right: 25px;
    top:22px
}

.listaCategorias ul{
    display: flex;
    justify-content:space-around;
    margin: 10px 1px;
}

.listaCategorias ul li{
    border: 1px solid #ccc;
    padding: 15px;
    height: 85px;
    width: 85px;
    border-radius: 20px;
    text-align: center;
}

.listaCategorias ul h2{
    font-size: 0.9rem;

}

.listaProdutos{
    display: inline-flex;
    flex-wrap:wrap ;
}

.listaProdutos h1{
    text-align: center;
    font-size: 1rem;
    font-family: 'Shantell Sans', cursive;
    color: var(--destaque);
}

.listaProdutos p{
    font-size: 0.8;
    font-family: 'Shantell Sans', cursive;
    color: var(--destaque);
}

.listaProdutos .itemProdutos{
    border: 1px solid #ccc;
    width: calc(50% - 16px);
    margin: 8px;
    padding: 8px;
    box-shadow: 0 0 10px #ccc;
    border-radius: 15px;
}

.listaProdutos .itemProdutos img{
    border-radius: 20px;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

.itemProdutos h2{
    font-size: 1rem;
    color: #707070;
}
.itemProdutos small{
    font-size: 0.7rem;
    color: #707070;
}

.boxPreco{
    display: flex;
    justify-content: space-between;
}

.preco{
    font-size: bold;
    color: #F24405;
}

.btnAdicionar{
    background: var(--destaque);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    color: var(--primaria);
    border-radius: 15px;
}


main{
    margin-bottom: 70px;
}
#rodape #menuRodape{
    background-color: var(--primaria);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 56px;
    box-shadow: 0 -2px 3px var(--primaria);
}

#menuRodape ul{
    display: flex;
    background-color: var(--secundaria);
    justify-content: space-around;
    font-size: 2rem;
    color: var(--primaria);
}

#menuRodape ul a{
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
    padding: 8px;
    display: block;
}